<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>My name is {{studentname}}</p>
    <p>Student id is {{studentid}}</p>
    <p>ISBN of the given index is {{searchedbook}}</p>
    <p>ISBN of the searched book is </p>
    <table>
        <thead>
            <tr>
                <th>ISBN</th>
                <th>Title</th>
                <th>Author</th>
                <th>Price</th>
                <th>pages</th>
            </tr>
        </thead>
        <tbody>
         
                <tr>
                    <td>{{isbn}}</td>
                    <td>{{title}}</td>
                    <td>{{author}}</td>
                    <td>{{price}}</td>
                    <td>{{pages}}</td>
                </tr>
           
        </tbody>
    </table>
    <p>Title of the book {{booktitle}}</p>
</body>
</html>