<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
        }
        th {
            background-color: #f2f2f2;
        }
        table {
            width: 100%;
        }
        .highlight {
            background-color: #ffdddd; 
        }
    </style>
</head>
<body>
    <h2>All Books</h2>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Price</th>
                <th>pages</th>
                <th>Average Reviews</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
                <tr {{#unless this.avg_reviews}} bgcolor="red"{{/unless}}>
             
                    <td>{{this.title}}</td>
                    <td>{{this.author}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.pages}}</td>
                    <td>{{checkreviews this.avg_reviews}}</td>
                </tr>
            
            {{/each}}
        </tbody>
    </table>
    </body>
</html>